data/
.idea/
venv/
env/
__pycache__
model/deformable_detr/ops/build/
MVIP/*
wandb/
MVIP
*.egg
work_dirs/*
data_batch_log.txt
work_dirs/
pretrained_checkpoints/
.dist_test/
.dist_test/*
*dist_test
*data_batch_log.txt
work_dirs/*
data_batch_log.txt
*data_batch_log.txt